<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>

		<!-- <link rel="stylesheet" href="/assets/reveal/css/reveal.css"> -->
		<!-- <link rel="stylesheet" href="/assets/reveal/css/theme/black.css"> -->

		<!-- Theme used for syntax highlighting of code -->
    <!-- <link rel="stylesheet" href="/assets/reveal/lib/css/zenburn.css"> -->
    

    <link rel="stylesheet" href="/assets/revealjs/dist/reset.css">
		<link rel="stylesheet" href="/assets/revealjs/dist/reveal.css">
    <link rel="stylesheet" href="/assets/revealjs/dist/theme/black.css" id="theme">
    <link rel="stylesheet" href="/assets/revealjs/plugin/highlight/monokai.css" id="highlight-theme">
    <link rel="stylesheet" href="/assets/revealjs/css/custom.css">
		<!-- Printing and PDF exports -->
		<!-- <script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/assets/reveal/css/print/pdf.css' : '/assets/reveal/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script> -->
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
		    {{ content }}
			</div>
		</div>

		<script src="/assets/revealjs/dist/reveal.js"></script>
		<script src="/assets/revealjs/plugin/zoom/zoom.js"></script>
		<script src="/assets/revealjs/plugin/notes/notes.js"></script>
		<script src="/assets/revealjs/plugin/search/search.js"></script>
		<script src="/assets/revealjs/plugin/markdown/markdown.js"></script>
		<script src="/assets/revealjs/plugin/highlight/highlight.js"></script>
		<script>

			// Also available as an ES module, see:
			// https://revealjs.com/initialization/
			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
			});

		</script>
	</body>
</html>
